@import url('https://fonts.googleapis.com/css?family=Satisfy|Gloria+Hallelujah');

/*
    Clean style
*/

input, button, submit { border:none; } 

.classroom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}

.cl-header {
    font-family: 'Satisfy', cursive;
}

.btn {
    padding: 10px 20px;
    background-color: black;
    color: white;
}

.empty-space {
    width: 10px;
}

.btn:hover {
    background-color: #757575;
    color: black;
    cursor: pointer;
}

.edit-student-btn {
    background-color: #27ae60;
}

.delete-student-btn {
    background-color: #e74c3c;
}

.students {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.student-card {
    color: black;
    padding: 20px 40px;
    margin: 5px;
    -webkit-transition:  200ms ease-out; 
    -moz-transition:  200ms ease-out; 
      -o-transition:  200ms ease-out; 
         transition:  200ms ease-out; 
}

.student-card:hover {
    box-shadow:0px 15px 10px -5px rgba(0, 0, 0, 0.3);
    padding: 20px 50px;
}

.average-top {
    color: rgba(46, 204, 113,1.0);
}

.average-ok {
    color: #FBC02D;
}

.average-bad {
    color: rgba(231, 76, 60, 1.0);
}

.girl {
    background-color: rgba(248, 187, 208, 0.2);
}

.boy {
    background-color: rgba(187, 222, 251, 0.2);    
}

.sc-footer {
    display: flex;
    flex-direction: row;
}

.student-birthdate {
    font-family: 'Satisfy', cursive;
}