@import url('https://fonts.googleapis.com/css?family=Satisfy|Gloria+Hallelujah|Open+Sans+Condensed:300');

/*
    Clean style
*/

button, submit { border:none; } 

.classroom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}

.cl-header {
    font-family: 'Satisfy', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    width: 90px;
    background-color: black;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    
}

.add-student {
    width: 70px;
    height: 70px;
    background-color: #2196F3;
    background-image: url('./pictures/plus.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.btn:hover{
    background-color: #757575;
    color: black;
    cursor: pointer;
}

button[disabled=disabled], button:disabled {
    background-color: #BDBDBD;
    color: #757575;
    cursor: default;
    pointer-events: none;
}

.edit-student-btn, .add-student-modal-btn {
    background-color: #27ae60;
}

.delete-student-btn {
    background-color: #e74c3c;
}

.students {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.student-card {
    color: black;
    margin: 5px;
    box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.3);
    width: 250px;
    -webkit-transition:  200ms ease-out; 
    -moz-transition:  200ms ease-out; 
      -o-transition:  200ms ease-out; 
         transition:  200ms ease-out; 
}

.student-card:hover {
    box-shadow:0px 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.average-top {
    color: #8BC34A;
}

.average-ok {
    color: #00BCD4;
}

.average-bad {
    color: #FF5252;
}

.girl {
    background-color: #FF4081;
}

.boy {
    background-color: #2196F3;    
}

.mark {
    font-size: 30px;
}

.sc-footer {
    display: flex;
    flex-direction: column;
}

.sc-body {
    color: white;
    box-shadow:0px 2px 3px 0px rgba(0, 0, 0, 0.3);
}

.actions-student {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.student-info {
    font-size: 20px;
}

.student-lastname {
    text-transform: uppercase;
}

.student-firstname {
    text-transform: capitalize;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.modal {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.3);
    visibility: hidden;
}

.modal-header {
    background-color: #27ae60;
    box-shadow:0px 2px 3px 0px rgba(0, 0, 0, 0.3);   
    color: white; 
}

.modal body {
    display: flex;
    flex-direction: column;
}

form div {
    margin: 5px;
}
label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 3px;
}

#error {
    color: black;
    background-color: #FFCDD2;
}